.container {
  display: block;
  margin-top: 50 auto;
  padding-top: 50px;
  margin-bottom: 0;
}
.weather-app {
  background: linear-gradient(
    180.2deg,
    rgb(120, 85, 137) -6.9%,
    rgb(35, 9, 31) 76.7%
  );
  font-family: "Indie Flower", cursive;
  color: #d9b650;
  width: 800px;
  height: 500px;
  border-radius: 40px;
  display: block;
  margin-top: 0 auto;
}
.today-forecast {
  text-align: start;
  margin: 0 auto;
  display: block;
  padding: 20px;
}
.current-date {
  font-size: 26px;
}

.fa-location-dot {
  font-size: 16px;
}
.location {
  font-size: 35px;
}
.current-forecast {
  display: block;
  right: -550px;
  top: -100px;
  position: relative;
}
.picture {
  width: 120px;
  height: 120px;
}
.current-temp-number {
  font-size: 50px;
}
.temp-unit {
  color: #d9b650;
  font-size: 30px;
  cursor: default;
}

.description {
  font-size: 24px;
}
.description:first-letter {
  text-transform: capitalize;
}

.metrics {
  list-style-type: none;
  position: relative;
  top: -250px;
  padding-top: 20px;
  right: 20px;
  font-family: "Indie Flower", cursive;
  color: #d9b650;
  font-size: 18px;
}
.location-form {
  position: relative;
  top: -150px;
  left: -200px;
  font-family: "Indie Flower", cursive;
  color: #d9b650;
}
.form-control-sm {
  width: 20px;
}
.footer {
  font-family: "Abel", sans-serif;
  width: auto;
  display: block;
  margin-left: 400px;
  
  font-size: 18px;
}
